<?xml version="1.0" encoding="ISO-8859-1"?>
<Configuration >

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %M - %msg%xEx%n}{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Orange, INFO=Bright Yellow, DEBUG=Bright Cyan, TRACE=Bright White}"/>
        </Console>


        <RollingFile name="parseTopic" fileName="E:\\topic.log" filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter  level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>

        <RollingFile name="topicConsumer" fileName="E:\\topicConsumer.log" filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter  level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>


        <RollingFile name="monitor" fileName="E:\\topicMonitor.log" filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter  level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>

        <RollingFile name="topicKafkaMonitor" fileName="E:\\topicKafkaMonitor.log" filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <Filters>
                <ThresholdFilter  level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>

        <File name="file" fileName="E:\\topicError.log" append="true" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %M - %msg%xEx%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

    </Appenders>
    <Loggers>

        <logger name="com.zjc.topic.executorThread.MonitorRunnable" level="info">
            <appender-ref ref="monitor"/>
        </logger>

        <logger name="com.zjc.topic.executorThread.KafkaCounsumerRunnable" level="info">
            <appender-ref ref="topicConsumer"/>
        </logger>

        <logger name="com.zjc.topic.executorThread.TopicRunnable" level="info">
            <appender-ref ref="parseTopic"/>
        </logger>

        <logger name="com.zjc.common.kafka.listener.ConsumerListener" level="info">
            <appender-ref ref="topicKafkaMonitor"/>
        </logger>

        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="file"/>
        </root>
    </Loggers>
</Configuration>